attrs==21.4.0
black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
idna==3.3
iniconfig==1.1.1
mypy-extensions==0.4.3
Naked==0.1.31
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.1
pluggy==1.0.0
py==1.11.0
pycryptodome==3.4.3
pyparsing==3.0.6
pytest==6.2.5
PyYAML==6.0
requests==2.27.1
shellescape==3.8.1
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
urllib3==1.26.9
